<h1 class="bg-dark-gray">THERE ARE <%= pluralize(@restaurants.length, "RESTAURANTS") %> IN THIS SITE</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categoriess.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%=category.address %></td>
      <td><%= category.email %></td>
      <td><%= category.phone_no %></td>
      <td>
        <%= link_to "show Profile", restaurant_path(category.id)%>|
        <%= link_to "Edit Profile", edit_restaurant_path(category.id)%>|
        <%= link_to "Delete profile", restaurant_path(category.id), data:{ method: :delete, confirm: "Are you sure" }%>
      </td>
    </tr>
    <% end %>
  </tbody> 
</table>

<%= link_to "Add category", new_restaurant_path%> |
<%= link_to "Logout", "/logout"%>