<div class="card-deck mb-3 text-center container">
  <div class="row justify-content-center">
    <div class="card mb-4 shadow-sm  col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Add New Restaurant</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>create new restaurant by filling its details and Upload images for menu,food & restaurant</p> 
        </div>
        <strong> <%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Edit/Delete Restaurant</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>Restaurants along with its deatails. Admin can also edit ,delete the added restaurants.</p> 
        </div>
        <strong> <%= link_to "Restaurants", restaurants_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Food Item</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>create new food item by choosing restaurant and also edit and delete the food item</p> 
        </div>
        <strong> <%= link_to "Food Item", food_items_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Restaurant Category</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>create new category for restaurant, if not not avilable in the list of restaurant category</p> 
        </div>
        <strong> <%= link_to "category", new_category_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Upload Images</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>Add image for restaurant, menu and food by selecting restaurant, multiple image can be uploaded</p> 
        </div>
        <strong> <%= link_to "Add Images", list_restaurants_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Approval Request</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>Approve the review or delete the review given by the user to restaurants</p> 
        </div>
        <strong> <%= link_to "Requests", unapprove_reviews_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Create Promotion</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>create promotions for online order with dicount ,valid date, minimum amount, generate coupon code</p> 
        </div>
        <strong> <%= link_to "promotion", new_promotion_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div>
    <div class="card mb-4 shadow-sm col-md-3 p-0">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Promotion List</h4>
      </div>
      <div class="card-body">
        <div class="mt-5 mb-4">
          <p>All promotions for online order with dicount ,valid date, minimum amount, generate coupon code</p> 
        </div>
        <strong> <%= link_to "promotion", promotions_path, class: "btn btn-lg btn-block btn-primary" %></strong>
      </div>
    </div> 
  </div>
</div>

  