 <div class="row">
  <div class="col-11 mx-auto">    
    <div class="card">
      <div class="card-header text-center">
        <h3>Cart</h3>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Food Items</th>
              <th scope="col">Unit price(Rs)</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal(Rs)</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each_with_index do |item,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%=  item.food_item.name %></td>
              <td><%= item.food_item.price %> </td>
              <td>
                  <%= form_for item do |f| %>
                    <%= f.hidden_field :food_item_id, value: item.food_item.id %>
                    <%= f.number_field :quantity, value: item.quantity %>
                    <%= f.submit "Update Cart"%>
                  <% end %>
              </td>
              <td><%= item.subtotal%></td>
              <td>
                <%= link_to "Remove item", cart_item_path(item.id), method: :delete, remote: true, class: "btn btn-danger"%>
              </td>
            </tr>
            <% end %>
          </tbody> 
        </table>
        <h5 class="text-right mr-4">Total: Rs.<%= @cart.total%></h5>
      </div>
    </div>
  </div>
</div>

<%= form_for Order.new, url: new_order_path  do |form| %>
  <div class="col-10 mx-auto mt-5">    
    <div class="card">
      <div class="card-body text-right">
        <div class="form-group row text-left">
          <%= form.hidden_field :cart_id, value: current_cart.id%>
          <%= form.label :delivery_address, for: "address", class:"col-sm-4 col-form-label"%>
          <div class="col-sm-8">
            <%= form.text_field :address,for: "address", class: "form-control",  autocomplete: "address", placeholder: "Enter address", required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-2">
        <strong><%= form.submit( "Order",{ class: "btn btn-primary btn-md btn-block my-2 my-sm-0" })%></strong>
      </div>
    </div>
  </div>
<% end %>
