 <div class="row">
  <div class="col-11 mx-auto">    
    <div class="card">
      <div class="card-header text-center">
        <h3>Cart</h3>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Food Items</th>
              <th scope="col">Unit price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each_with_index do |item,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%=  item.food_item.name %></td>
              <td><%= item.food_item.price %> </td>
              <%= form_for item do |f| %>
              <%= f.hidden_field :food_item_id, value: item.food_item.id %>
                <td><%= f.number_field :quantity, value: item.quantity %>
                    <%= f.submit "Update Cart"%>
                </td>
                <td><%= item.subtotal%></td>
                <td>
                  <%= link_to "Remove items", item, method: :delete, remote: true %>
                </td>
              <% end %>
            </tr>
            <% end %>
          </tbody> 
        </table>
        <h5 class="text-right mr-4">Total: Rs.<%= @cart.total%></h5>
      </div>
    </div>
  </div>
</div>
