<div class="text-right col-md-12 bg-white border-bottom border-secondary mb-2">
  <strong><%= link_to "Back", users_path, class: "btn btn-white text-dark" %></strong>
  <strong><%= link_to "Map", map_restaurant_path(restaurant: @restaurant.id), class: "btn btn-white text-dark" %></strong>
  <strong><%= link_to "Add Review", new_review_path(restaurant: @restaurant.id), class: "btn btn-white text-dark" %><strong>
  <strong><%= link_to "Reviews", review_path(restaurant: @restaurant.id), class: "btn btn-white text-dark" %></strong>
  <strong><%= link_to "Menu", menu_restaurant_path, class: "btn btn-white text-dark" %></strong>
  <strong><%= link_to "Online order", menu_restaurant_path, class: "btn btn-white text-dark" %></strong>
  <strong><%= link_to "Book table", new_book_table_path(restaurant: @restaurant.id), class: "btn btn-white text-dark" %></strong>
</div>

<section>
  <div class="row">
    <div class="image col-md-4 mb-4">
        <%= image_tag @restaurant.image.url %>
    </div>
    <div class="card-deck text-left col-md-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-header text-danger">
          <span><%= @restaurant.restaurant_name %></span>
        </div>
        <div class="card-body mt-4">
          <h4><%= @restaurant.restaurant_category.name %></small></h4>
          <ul class="list-unstyled text-muted mt-3 mb-4">
            <li>Table price:Rs.<%= @restaurant.table_price%></li>
            <li>Contact Details:</li>
            <li> <%= @restaurant.address %></li>
            <li> <%= @restaurant.email %></li>
            <li> <%= @restaurant.phone_no %></li>
          </ul>
        </div>  
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <h4 class="border-bottom border-secondary d-inline">Food Images</h4>
  <% unless !@restaurant.food_uploads.first %>
    <div class="row">
      <% @restaurant.food_uploads.each do |image| %>
        <div class="col-2">
          <figure>
              <%= image_tag image.image.url, alt: "picture", src: "https://mdbootstrap.com/img/Photos/divghtbox/Thumbnail/img%20(145).jpg", class: "img-fluid"%>
          </figure>
        </div>
      <% end %>
    </div>
  <% else %>
    <h6>:No images </h4>
  <% end %>
</section>

<section class="mb-4">
  <h4 class="border-bottom border-secondary d-inline">Menu Images</h4>
  <% unless !@restaurant.menu_uploads.first %>
    <div class="row">
      <% @restaurant.menu_uploads.each do |image| %>
        <div class="col-2">
          <figure>
              <%= image_tag image.image.url, alt: "picture", src: "https://mdbootstrap.com/img/Photos/divghtbox/Thumbnail/img%20(145).jpg", class: "img-fluid"%>
          </figure>
        </div>
      <% end %>
    </div>
  <% else %>
    <h6>:No images </h4>
  <% end %>
</section>

<section class="mb-4">
  <h4 class="border-bottom border-secondary d-inline">Restaurant Images</h4>
  <% unless !@restaurant.restaurant_uploads.first %>
    <div class="row">
      <% @restaurant.restaurant_uploads.each do |image| %>
        <div class="col-2">
          <figure>
              <%= image_tag image.image.url, alt: "picture", src: "https://mdbootstrap.com/img/Photos/divghtbox/Thumbnail/img%20(145).jpg", class: "img-fluid"%>
          </figure>
        </div>
      <% end %>
    </div>
  <% else %>
    <h6>:No images </h4>
  <% end %>
</section>




