<div class="text-center">
  <h1>This is the show page of <%= @restaurant.restaurant_name %> restaurant</h1> 
</div>
<div class="row justify-content-center my-4">
  <div class="col-2">
    <strong><%= link_to "Back", users_path, class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %></strong>
  </div>
  <div class="col-2">
    <strong><%= link_to "Menu", menu_path(restaurant: @restaurant.id), class: "btn btn-primary btn-md btn-block my-2 my-sm-0" %></strong>
  </div>
  <div class="col-2">
    <strong><%= link_to "Online order", menu_path(restaurant: @restaurant.id), class: "btn btn-danger btn-md btn-block my-2 my-sm-0" %></strong>
  </div>
  <div class="col-2">
    <strong><%= link_to "Book table", new_book_table_path(restaurant: @restaurant.id), class: "btn btn-danger btn-md btn-block my-2 my-sm-0" %></strong>
  </div>
</div>
<div>
<img
src="http://maps.googleapis.com/maps/api/staticmap?size=450x300&zoom=16&maptype=roadmap&markers=color:blue%7Clabel:S%7C22.45678,88.45632&key=AIzaSyCT0nnhr-vrhyZ2t7i_3IwZwxy22qQM_sY">
</div>