<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <strong><%= link_to "Back", users_path, class: "nav-link" %></strong>
      </li>
      <li class="nav-item">
        <strong><%= link_to "Menu", menu_path(restaurant: @restaurant.id), class: "nav-link" %></strong>
      </li>
      <li class="nav-item">
        <strong><%= link_to "Online order", menu_path(restaurant: @restaurant.id), class: "nav-link" %></strong>
      </li>
      <li class="nav-item">
        <strong><%= link_to "Book table", new_book_table_path(restaurant: @restaurant.id), class: "nav-link" %></strong>
      </li>
      <li class="nav-item">
        <%= link_to "Review", new_review_path(restaurant: @restaurant.id), class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %>
      </li>
    </ul>
  <div>
</nav>
  <div class="row">
    <div class="image col-4 mb-4">
        <%= image_tag @restaurant.image.url %>
    </div>
    <div class="card-deck text-left col-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-header text-danger">
          <span><%= @restaurant.restaurant_name %></span>
        </div>
        <div class="card-body mt-4">
          <h4><%= @restaurant.restaurant_category.name %></small></h4>
          <ul class="list-unstyled text-muted mt-3 mb-4">
            <li>Table price:Rs.<%= @restaurant.table_price%></li>
            <li>Contact Details:</li>
            <li> <%= @restaurant.address %></li>
            <li> <%= @restaurant.email %></li>
            <li> <%= @restaurant.phone_no %></li>
          </ul>
        </div>  
      </div>
    </div>
  </div>
 <div class="row">
  <div class="col-md-12">
 <% @restaurant.food_uploads.each do |image| %>
    <div id="mdb-lightbox-ui"></div>
    <div class="mdb-lightbox">
      <figure class="col-md-4 float-left">
          <%= image_tag image.image.url, alt: "picture", src: "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg", class: "img-fluid"%>
      </figure>
    </div>
  </div>
  <% end %>
</div>
</div>

