<div class="page-wrapper">
  <div class="wrapper">
    <div class="card">
      <div class="card-body">
        <h1 class="title text-center">Upload Images</h1>
        <% content_for :title, "Upload Images" %>
        <%= render "layouts/errors", obj: @restaurant%>
        <%= form_for @restaurant, url: upload_restaurant_path(@restaurant.id) do |form| %>
          <h5>*[Optional field, Multiple image can be selected]</h5> 
          <div class="form-group row">
            <%= form.label :image,"Restaurant Images:", for: "image", class:"col-sm-3 col-form-label"%>
              <div class="col-sm-9">
                <%= form.file_field :files, for: "image", multiple: true, class: "form-control", autofocus: true, autocomplete: "image", placeholder: "upload image" %>
              </div>
          </div>   
          <div class="form-group row">
          <%= form.label :image,"Food Images:", for: "image", class:"col-sm-3 col-form-label"%>
            <div class="col-sm-9">
              <%= form.file_field :pictures, for: "image", multiple: true, class: "form-control", autofocus: true, autocomplete: "image", placeholder: "upload image" %>
            </div>
          </div> 
           <div class="form-group row">
          <%= form.label :image,"Menu Images:", for: "image", class:"col-sm-3 col-form-label"%>
            <div class="col-sm-9">
              <%= form.file_field :photos, for: "image", multiple: true, class: "form-control", autofocus: true, autocomplete: "image", placeholder: "upload image" %>
            </div>
          </div>  
          <div class="row justify-content-center">
            <div class="col-2">
              <strong><%= link_to "BACK", list_restaurants_path, class: "btn btn-danger btn-lg btn-block my-2 my-sm-0" %></strong>
            </div>
            <div class="col-2">
              <strong><%= form.submit "Upload", class:"btn btn-primary btn-lg btn-block my-2 my-sm-0" %></strong>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
