<% if logged_in? && current_user.admin %>
  <div class="text-right border-bottom border-secondary mb-2" %>
    <strong><%= link_to "Back", admin_dashboards_path, class: "btn btn-outline-secondary mb-2 mt-2"%></strong>
    <strong><%= link_to "active coupon", active_promotions_path, class: "btn btn-outline-success mb-2 mt-2" %></strong>
    <strong><%= link_to "expired coupon", expired_promotions_path, class: "btn btn-outline-info mb-2 mt-2" %></strong>
   </div>
<% end %>
<div class="dropdown d-inline">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    filter by discount%
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "Ascending", discount_ascend_promotions_path, class: "dropdown-item"%> 
    <%= link_to "Descending", discount_descend_promotions_path, class: "dropdown-item"%>   
  </div>
</div>
<div class="dropdown d-inline">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    filter by validity date
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "Ascending", date_ascend_promotions_path, class: "dropdown-item"%> 
    <%= link_to "Desending", date_descend_promotions_path, class: "dropdown-item"%> 
  </div>
</div>
<%= render "promotions/list", promotions: @promotion %>
<div class="row justify-content-right">
  <div class="col-2">
    <%= link_to "Back", admin_dashboards_path, class: "btn btn-lg btn-block btn-secondary"%>  
  </div>
</div>


