<div class="form-group row">
  <div class="col-3">
    <%= form_tag(promotions_path, method: :get) do %> 
      <%= select_tag "promotion_sort", options_for_select( { "Promotion Sort" => " ", "Valid Date Ascending" => "valid_date_asc", "Valid Date Descending" => "valid_date_desc", "Discount Percent Ascending" => "discount_percent_asc", "Discount Percent Descending" => "discount_percent_desc" }, params[:promotion_sort]), :onchange => "this.form.submit();" %>
    <% end %>
  </div>
  <div class="col-2">
    <%= form_tag(promotions_path, method: :get) do %> 
      <%= select_tag "filter", options_for_select( { "Filter" => " ", "Active Coupon" => "active_coupon", "Expired Coupon" => "expired_coupon" }, params[:filter]), :onchange => "this.form.submit();" %>  
    <% end %>
  </div>
</div>
<%= render "promotions/list", promotions: @promotions %>
<div class="row justify-content-right">
  <div class="col-2">
    <%= link_to "Back", admin_dashboards_path, class: "btn btn-lg btn-block btn-secondary"%>  
  </div>
</div>


